@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Poppins:ital,wght@0,400;0,800;1,100;1,200;1,400;1,500&family=Roboto+Condensed:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-galeria{
  font-family: 'Poppins';
  background: linear-gradient(-100deg, #4ba9e9 , #4ba9e9 50% ,#fff 50%,#fff 100%);
}

/* INICIO DE LA GALERIA */
 .head-pics h2{
margin: 20px;
  padding: 10px;
  font-size: 35px;
  position: relative;
  color:$color1;
}



.cont-de-img{
  width: 100%;
  max-width: 1100px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto;
  gap: 20px;
  padding: 20px;
}

.cont-de-img .box-img figure{
  width: 100%;
  height: 100%; 
}
.cont-de-img .box-img img{
  width: 100%;
  height: 120%;
  object-fit: contain;
}

.cont-de-img .box-img:nth-child(1){
  grid-column:1/2;
}
.cont-de-img .box-img:nth-child(2){
  grid-column: 2/3;
}
.cont-de-img .box-img:nth-child(3){
grid-column: 3/4;
}
.cont-de-img .box-img:nth-child(4){
  grid-column: 1/2;
}

/* FIN DE LA GALERIA */


/* INICIO DE LOS VIDEO */
.cont-de-vid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
   
    height: auto;
    column-gap: 0px;
    padding-top: 40px;
    padding-bottom: 90px;       
}
.head-vids h2{
  margin: 20px;
  padding: 10px;
  font-size: 35px;
  position: relative;
  color: $color1;
}

.cont-de-vid .videos{
  display: flex;
  justify-content: center;
  padding-left: 10%;
  margin: 5px;

}
.cont-de-vid .videos iframe{
    border-radius: 20px;  
    margin-bottom: 20px;
}

/* FIN DE LOS VIDEOS */



/* GALERIA RESPONSIVE */

@media only screen and (min-width:320px) and (max-width:500px){
  .head-pics h2{
    margin: 20px;
      padding: 10px;
      font-size: 22px;
      position: relative;
      color:white;
    }
  
  
  
  .cont-de-img{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
  .cont-de-img .box-img:nth-child(1){
    grid-column: 1/5;
  }
  
  .cont-de-img .box-img:nth-child(2){
    grid-column: 1/5;
  }
  
  .cont-de-img .box-img:nth-child(3){
    grid-column: 1/5;
  }
  .cont-de-img .box-img:nth-child(4){
    grid-column: 1/5;
  }
  .cont-de-img .box-img:nth-child(5){
    grid-column: 1/5;
  }
  .cont-de-img .box-img:nth-child(6){
    grid-column: 1/5;
  }
  
  .cont-de-img .box-img img{
    height: 120px;
  }

  .head-vids h2{
    font-size: 22px;
  }
  .cont-de-vid{
    display: flex;
    flex-direction: column;
  }
  
  .cont-de-vid iframe{
    height: 150px;
    width: 200px;
  }
}
@media only screen and (min-width:500px) and (max-width:800px){
    
  body{
    margin: 0;
    padding: 0;
  }
  
   
    .head-pics h2{
      font-size: 22px;
      text-align: center;
      color: white;
    }
    

    .cont-de-img{
      width: 90%;
      grid-template-columns: repeat(1,1fr);
   
      
    }

    .cont-de-img .box-img:nth-child(1){
      grid-column: 1/5;
    }
    
    .cont-de-img .box-img:nth-child(2){
      grid-column: 1/5;
    }
    
    .cont-de-img .box-img:nth-child(3){
      grid-column: 1/5;
    }
    .cont-de-img .box-img:nth-child(4){
      grid-column: 1/5;
    }
    .cont-de-img .box-img:nth-child(5){
      grid-column: 1/5;
    }
    .cont-de-img .box-img:nth-child(6){
      grid-column: 1/5;
    }
    
    .cont-de-img .box-img img{
    height: 200px;
    }

    .head-vids h2{
    text-align: center;
    font-size: 22px;
    }
    .head-vids h2 .color-blanco-letra{
    color: white;
    }
    .cont-de-vid{
    display: flex;
    flex-direction: column;
    align-items: center;

    
    }

    .cont-de-vid .videos{
    padding: 0;
    margin: 0;
    }

    .cont-de-vid iframe{
    height: 220px;
    width: 320px;
    overflow: hidden;
    }
}
@media only screen and (min-width:800px) and (max-width:1000px){
  body{
    margin: 0;
    padding: 0;
  }
       .head-pics h2{
      text-align: center;
      font-size: 23.5px;
      color: white;
    }
    .cont-de-img{
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      justify-content: space-evenly;
 
    }

    .cont-de-img .box-img img{
      width: 100%;
      height: 200px;
    }

    .head-vids h2{
      text-align: center;
      font-size: 23.5px;
    }

    .head-vids h2 .color-blanco-letra-2{
      color: white;
    }
    .cont-de-vid{
      margin: 0;
      padding: 0;
    }

    .cont-de-vid iframe{
      width: 300px;
      margin: 0;
      padding: 0;
    } 
  
}
