@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Poppins:ital,wght@0,400;0,800;1,100;1,200;1,400;1,500&family=Roboto+Condensed:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.grid{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows:250px 250px;
  justify-content: center;
  gap: 300px;
}

/* INICIO DEL CONTACTO-MENSAJE */
.mensaje-contacto{
  grid-column: 1/4;
  margin: 60px;
  width: 100%;
  padding-left: 20px;
}

.mensaje-contacto  h2{
  font-size: 35px;
  text-align: justify;
}

.mensaje-contacto p{
  text-align: justify;
  font-size: 28px;
  line-height: 2rem;
  margin-top: 20px  ;
}

.mensaje-contacto .sub-msj{
  margin-top: 10px;
  width: 80%;
  text-align: center;
}
/* FIN DEL INICIO DEL CONTACTO-MENSAJE */


/* INICIO DEL FORMULARIO */
.formulario-contacto{
  grid-column: 4/6;
  margin-top: 50px;
}

.formulario-contacto h2{
  text-align: center;
  font-size: 34px;
  margin-bottom: 15px;
}

.formulario-contacto input,
.formulario-contacto textarea,
.formulario-contacto button{
  width: 100%;
  margin: 10px;
  border: none;
  background: none;
  padding: 10px;
  border-bottom: 2px solid skyblue;
}

.formulario-contacto label{
  font-size: 20px;
  width: auto;
}

.formulario-contacto button{
  border:0;
  background-color: skyblue;
  text-transform: uppercase;
  padding: 15px;
  transition: all 0.5s;
  border-radius: 8px;

}






/* FIN DEL FORMULARIO */






/* RESPONSIVE CONTACTO */
@media only screen and (min-width:500px) and (max-width:800px){
    
  body{
    margin: 0;
    padding: 0;
  }
  
  
  .body-header{
        grid-template-columns: repeat(4,100px);
        display: grid;
        gap: 10px;
        height: 65px;
        width: 100%;
       
      }
      .body-header .logo{
        grid-column: 1/3;
        position: absolute;
        padding: 10px;
        font-size: 14px;
        justify-content: center;
        
      }
      
      .body-header .logo img{
        height: 60px;
      }
      
      .navbar{
        justify-content: center;
        grid-column: 4/5;
        padding-top: 5px;
        z-index: 1;
        margin-left: 25px;
      }
      
      .body-header .secciones-header{
        display: grid;
        grid-template-columns: repeat(4,100px);
        gap: 10px;
      }
      
      .body-header .secciones-header ul{
        flex-direction: column;
        top: 65px;
        left: 0;
        position: absolute;
        z-index: 5;
        width: 100%;
        margin: 0;
        padding: 0;
        align-items: center;
        visibility: hidden; /* FUTURO NAVBAR , MIENTRAS OCULTO */
        background-color: rgba(0, 0, 0, 0.8)
      }

      .grid{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(1,70px);
      
      }
      .mensaje-contacto{
        grid-column: 1/1;
        margin: 0;
        margin-top: 80px;
        width: 90%;
       
      }
      .mensaje-contacto  h2{
        font-size: 20px;
        text-align: justify;
        padding: 0;
      }
      
      .mensaje-contacto p{
        text-align: justify;
        font-size: 16px;
        line-height: 2rem;
      
        
        
      }

      .formulario-contacto{
        grid-column: 1/1;
        width:auto;
        
        display: flex;
        margin-left: 60px;
       margin-bottom: 80px;
       justify-content: center;
      }

      .formulario-contacto h2{
        text-align:justify;
        margin-bottom:10px;
        font-size: 20px;
        padding: 0;
     

      }

      .formulario-contacto input,
      .formulario-contacto textarea{
        width: 50%;
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
      }

      .formulario-contacto button{
        width:50%;
      }

      .container-footer{
  
        flex-direction: row;
        justify-content:center;
        display: grid;
        grid-template-columns: repeat(3,100px);
      
      }
      
      .container-footer .logo{
        grid-column: 1/3;
        justify-content: center;
      
      }
      .container-footer figure a img{
      height: 100px;
      }
      
      .container-footer .sobre-nosotros{
        grid-column: 3/5;
        text-align: center;
        margin-right: 10px;
      }
      .container-footer .sobre-nosotros h2{
        text-align: center;
        font-size: 22px;
      }
      .sobre-nosotros p{
        font-size: 14px;
        font-weight: 500;
      }
      
      .container-footer .redes{
        grid-column:1/5;
      }
      .redes h2{
        font-size: 22px;
      }
      
      .redes ul{
        justify-content: center;
      }

      .container-copy{
        font-size: 16px;
      }
}

@media only screen and (min-width:800px) and (max-width:1000px){
  
  .grid{
    grid-template-rows: repeat(1,150px);
    grid-template-columns: 1fr;
  }
  
  .mensaje-contacto{
    grid-column: 1/1;
    margin: 0;
    margin-top: 80px;
    width: 95%;
   
  }

  .mensaje-contacto h2{
    display: flex;
    justify-content: center;
    font-size: 30px;
  }

  .formulario-contacto{
    grid-column: 1/1;
    width:80%;
    margin-left: 60px;
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
  }

  .formulario-contacto h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
    
  }
  .formulario-contacto input,
.formulario-contacto textarea,
.formulario-contacto button{
  width: 85%;
  margin: 10px;
 
  padding: 10px;
  border-bottom: 2px solid skyblue;
}
}
    
