@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Poppins:ital,wght@0,400;0,800;1,100;1,200;1,400;1,500&family=Roboto+Condensed:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(95deg, #4ba9e9 , #4ba9e9 50% ,#fff 50%,#fff 100%);
  font-family: 'Poppins';
}



/* INICIO DEL CONTACTO-MENSAJE */



.mensaje-contacto{

  margin-top: 60px;
  width: 100%;
  padding-left: 20px;
  margin-bottom: 60px;
}

.mensaje-contacto  h2{
  font-size: 35px;
  text-align: justify;
}

.mensaje-contacto p{
  text-align: justify;
  font-size: 24px;
  line-height: 2rem;
  margin-top: 20px  ;
}

.mensaje-contacto .sub-msj{
  margin-top: 10px;
  width: 80%;
  text-align: center;
}
/* FIN DEL INICIO DEL CONTACTO-MENSAJE */


/* INICIO DEL FORMULARIO */
.formulario-contacto{
margin-bottom: 60px;
  margin-top: 50px;
  padding-left: 40px;
}

.formulario-contacto .container-contact{
  display: flex;
  justify-content: center;
  padding: 20px;
  padding-left: 0;
  height: auto;
}

.container-contact form{
  display: flex;
  flex-direction: column;

}

.formulario-contacto h2{
  text-align: center;
  font-size: 35px;
  margin-bottom: 15px;
  
}


.formulario-contacto input,
.formulario-contacto textarea,
.formulario-contacto button{
  width: 80%;
  margin: 10px;
  border: none;
  background: none;
  padding: 10px;
  border-bottom: 2px solid skyblue;
}

.formulario-contacto label{
  font-size: 22px;
  width: auto;
 
}

.formulario-contacto button{
  border:0;
  background-color: skyblue;
  text-transform: uppercase;
  padding: 15px;
  transition: all 0.5s;
  border-radius: 8px;

}

.formulario-contacto button:hover{
  background-color: #52b9e2;
  color: white;
}





/* FIN DEL FORMULARIO */






/* RESPONSIVE CONTACTO */

@media only screen and (min-width:320px) and (max-width:500px){

    body{
      background: linear-gradient(-95deg, #4ba9e9 , #4ba9e9 50% ,#fff 50%,#fff 100%);
    }


    .mensaje-contacto h2{
      font-size: 18px;
    }
    .mensaje-contacto p{
      font-size: 15px;
    }
    
    .formulario-contacto h2{
      text-align: center;
      font-size: 18px;
      margin-bottom: 15px;
      
    }
    
    
    .formulario-contacto input,
    .formulario-contacto textarea,
    .formulario-contacto button{
      width: 90%;
   
      padding: 10px;
      border-bottom: 2px solid skyblue;
    }
    
    .formulario-contacto label{
      font-size: 17px;
      width: auto;
     
    }


}
@media only screen and (min-width:500px) and (max-width:800px){
    
  body{
    margin: 0;
    padding: 0;
  }
      .mensaje-contacto{
        margin-top: 80px;
      }
      .mensaje-contacto  h2{
        font-size: 22px;
        text-align: justify;
        padding: 0;
      }
      
      .mensaje-contacto p{
        text-align: justify;
        font-size: 18px;
        line-height: 2rem; 
      }
      .formulario-contacto h2{
        text-align:center;
        margin-bottom:10px;
        font-size: 22px;
        padding: 0;
      }
      .formulario-contacto{
        margin: 0;
      }

      .formulario-contacto input,
      .formulario-contacto textarea{
        width: 90%;
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
      }

      .formulario-contacto label{
        font-size: 18px;
        margin-top: 10px;
      }

      .formulario-contacto button{
        width:90%;
      } 
}

@media only screen and (min-width:800px) and (max-width:1000px){
  
  .grid{
    grid-template-rows: repeat(1,150px);
    grid-template-columns: 1fr;
  }
  
  .mensaje-contacto{
    grid-column: 1/1;
    margin: 0;
    margin-top: 80px;
    width: 95%;
   
  }

  .mensaje-contacto h2{
    display: flex;
    justify-content: center;
    font-size: 30px;
  }

  .formulario-contacto{
    grid-column: 1/1;
    width:80%;
    margin-left: 60px;
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
  }

  .formulario-contacto h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
    
  }
  .formulario-contacto input,
.formulario-contacto textarea,
.formulario-contacto button{
  width: 85%;
  margin: 10px;
 
  padding: 10px;
  border-bottom: 2px solid skyblue;
}
}
