@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Poppins:ital,wght@0,400;0,800;1,100;1,200;1,400;1,500&family=Roboto+Condensed:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins';
}


/* INCIO DEL HEADER */

header{
  background-color: #042240;

}

.navbar-expand-lg  .navbar-collapse{
    justify-content: flex-end;
    text-align: center;
    padding-left: 50px;
}

.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.logo h2{
    color: white;
}

.navbar-brand img{
    height: 90px;
}

.navbar-dark{
    color: white;
    text-decoration: none;
    
}

.navbar-collapse .nav-item .otros-sitios{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    padding-right: 10px;
    font-size: 20px;
    transition: all 0.8s;
    margin-right: 20px;
    border-radius: 5px;
    
   
}

.otros-sitios:hover{
    border-bottom: 1px #00BCD4 solid;
}


/* FIN HEADER */

/* INICIO VIDEO */
.video-inicio {

  gap: 10px;
  height: auto;
  position:relative;
  width: 100%;
}

.video-inicio h1 {

  text-align: center;
  padding: 50px;
  margin: 0;
  color:#00BCD4;
}

.video-inicio video {
  grid-column: 1/13;
  position: relative;
  height: 80%;
  width: 100%;
  object-fit: cover;
}

/* FIN DEL INICIO VIDEO */

/* INICIO DE NOTICIAS */
.notice-body {

  
  margin: 0;
  padding: 0;
  background-color: #fffff7;
  color: rgb(255, 255, 255);
  margin-top: 40px;
  
}
.title-notis H2 {
  margin: 20px;
  padding: 10px;
  font-size: 35px;
  position: relative;
  color:#00BCD4;
  font-weight: 800;
}

.contenedor-noticias {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  flex-flow: row wrap;
  line-height: 1.6;
  letter-spacing: 0.02em;
}

.contenedor-noticias .card-noticias {
  width: 210px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 25px;
  text-align: center;
  transition: all 0.25s;
}

.contenedor-noticias .card-noticias:hover {    
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}


.contenedor-noticias .card-noticias img {
  font-weight: 600;
  height: 165px;
}

.contenedor-noticias .card-noticias h4 {
  font-weight: 600;
  padding: 10px;
  color: #00BCD4;
}

.contenedor-noticias .card-noticias p {
  padding: 0 24px;
  font-size: 18px;
  font-weight: 299;
  color: rgb(0, 0, 0);
}

.contenedor-noticias .card-noticias a {
  color: gray;
  text-decoration: none;
  font-weight: 500;
  padding: 20px;
  margin-top: 10px;

}

/* FIN DE NOTICIAS */

/* INICIO DE TIENDA(INDEX) */
.inicio-tienda-body{
  width: 100%;
  height: auto;
  background-color:#4ba9e9;
  color: rgb(244, 242, 242);
  
  margin-top: 40px;
  margin-bottom: 100px;
  padding-left: 30px;
  padding-right: 30px;
  
}
.inicio-tienda-body .titulo-producto-info h2{
  margin: 20px;
  padding: 10px;
  font-size: 35px;
  position: relative;
  color: white;
}

.inicio-tienda-body .titulo-producto-info p{
float: right;
margin-right: 15px;
margin-bottom: 0;
transition: all 0.5s;
position: relative;
border-radius:100px;
overflow: hidden;
border: 1px solid black;
color: white;
background-color: white;
padding: 10px;
margin-bottom: 32px;
}

.inicio-tienda-body .titulo-producto-info p:hover{
  transform:scale(1.1); 
}

.inicio-tienda-body .titulo-producto-info p a{
  text-decoration: none;
color: black;
}

.contenedor-productos{
display: flex;
  width: 100%;
  margin-top: 70px;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
  justify-content:center;
  height: auto;
}

.contenedor-productos .card-productos:hover{  
  transform: scale(1.1);
}

.contenedor-productos .card-productos {
  margin: 15px;
  text-align: center;
  height:500px;
  width: auto;
  overflow: hidden;
  transition: all 0.5s;
  border-radius: 10px;

}
.contenedor-productos .card-productos img{
  height:300px;
  width: 100%;

}

.card-productos h4{
  padding-bottom: 10px;
}
.contenedor-productos .card-productos a{
  text-decoration: none;
  font-size: 18px;
  color: white;
  padding: 5px;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(4, 4, 4);
  overflow: hidden;
  border-radius:100px;
}

.contenedor-productos .card-productos a:hover{ 
  background-color: transparent;
  color: black;
  border: 1px solid black;
  background-color: white;
}

.contenedor-productos .card-productos  .datos-producto h3,h4{
  font-size: 16px;
  color: white;
  text-align: justify;
}





/* FIN DE TIENDA(INDEX) */


/* FOOTTER INICIO */
footer{
  background-color: #042240;
  color:white;
  width: 100%;
  padding-top: 40px;
}

.container-footer{
  text-align: center;
}

.container-footer figure a img{
  height: 210px;
}

.container-footer h2{
  font-size: 35px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 45px;
}

.container-footer p{
  margin: 10px auto;
line-height: 20px;
  font-size:18px;
  width: 85%;
}

.social{
  list-style-type: none;
  margin: 15px;
  }

.social li{
margin: 10px;
font-size: 20px;
}

.social li a{
text-decoration: none;
color: rgb(255, 254, 252);
transition: all 0.5s;
}

.social li a:hover{
  color: #00BCD4;
}

.container-copy{
  text-align: center;
  background-color: #010d19;
  width: 100%;
  padding: 20px;
  font-size: 20px;
}

/* FOOTTER FIN */


/* INDEX RESPONSIVE */

@media only screen and (min-width:320px) and (max-width:500px){
  .logo img{
    height: 60px;
  }
  .nombre-header-page{
    font-size: 20px;
    margin: 0;
  }
 .video-inicio h1{
  font-size: 16px;
 }

 .notice-body .title-notis h2{
  font-size: 15px;
 }

 .notice-body .card-noticias{
  height: 100px;
  width: 140px;
  margin-bottom: auto;
  transition: all 0.9s;
  border-radius: 50px;
  overflow: hidden;
}

.notice-body .card-noticias:hover{
  height: 465px;
  width: 175px;
} 

.notice-body .card-noticias img{
  height:130px; 
  width: 100%;
}

.card-noticias h4{
  font-size: 18px;
  text-align: center;
}

.notice-body .card-noticias p{
  font-size: 16px;
  text-align:center;
  
}

.inicio-tienda-body{
padding-left: 20px;
padding-right: 20px;
}

.inicio-tienda-body .titulo-producto-info h2{
  font-size: 15px;
  padding-top: 10px;
}
.titulo-producto-info p{
  font-size: 10px;
}

.contenedor-productos .card-productos{
  margin: 0;
  height: 100%;
  width: 50%;
}

.contenedor-productos .card-productos img{
height: auto;
  width: 90%;
}

.contenedor-productos .card-productos .datos-producto{
 display: block;
 padding: 10px 10px 15px;

}
.contenedor-productos .card-productos .datos-producto h3,h4{
  font-size: 16px;
  margin-top: 5px;
  text-align: justify;
  letter-spacing: normal;
}
.contenedor-productos .card-productos a{
  font-size: 12px;
}

 .container-footer .logo figure a img{
  height: 90px;
 }

.container-footer .sobre-nosotros h2{
  font-size: 16px;
}
.sobre-nosotros p{
  font-size: 10px;
  font-weight: 600;
 
}

.redes h2{
  font-size: 18px;
  margin: 0;
}
.redes ul{
  margin-top: 0;
  margin-bottom: 10px;
}

.container-copy{
  font-size: 12px;
}
}

@media only screen and (min-width:500px) and (max-width:800px) {
  body{
   padding: 0;
   margin: 0;
  }
  .video-inicio h1{
    grid-column: 2/13;
    font-size: 22px; 
  }
  .title-notis h2{
    font-size: 28px;
    text-align: center;
  }

  .notice-body .card-noticias{
    height: 110px;
    width: 160px;
    margin-bottom: auto;
    transition: all 0.9s;
    border-radius: 50px;
    overflow: hidden;
  }

  .notice-body .card-noticias:hover{
    height: 465px;
    width: 175px;
  } 

  .notice-body .card-noticias img{
    height:130px; 
  }

  .card-noticias h4{
    font-size: 18px;
  }

  .notice-body .card-noticias p{
    font-size: 16px;
    text-align:center;
    
  }

.inicio-tienda-body{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 10px;
}

.inicio-tienda-body .titulo-producto-info{
  grid-column: 1/6;
}

.inicio-tienda-body .titulo-producto-info h2{
  font-size: 28px;
  text-align: center;
}

.titulo-producto-info p{
  font-size: 12px;
}


.contenedor-productos{
  margin: 20px;
  grid-column: 1/6;
  width: auto;
  height: auto;
}

.contenedor-productos .card-productos{
 
display: flex;
height:auto;
width: 100%;
}

.contenedor-productos .card-productos img{
  height: 180px;
  float: left;
  width: auto;
}

.contenedor-productos .card-productos .datos-producto{
margin-left: 20px;
padding-top: 20px;
}

.container-footer .logo figure a img{
  height: 100px;
 }

.container-footer .sobre-nosotros h2{
  font-size: 20px;
}
.sobre-nosotros p{
  font-size: 14px;
  font-weight: 600;
}

.redes h2{
  font-size: 18px;
  margin: 0;
}
.redes ul{
  margin-top: 0;
  margin-bottom: 10px;
}

.container-copy{
  font-size: 14px;
}

.redes h2{
  font-size: 22px;
}

.redes ul{
  justify-content: center;
}

}

@media only screen and (min-width:800px) and (max-width:1000px){
  body{
    padding: 0;
    margin: 0;
   }
 
 .video-inicio{
  font-size: 18px;
 }

 .title-notis h2{
  font-size: 30px;
  text-align: center;
 }

 .contenedor-noticias{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
 }

 .contenedor-noticias .card-noticias{
  width: auto;
  text-align: center;
  
 }
.contenedor-noticias .card-noticias img{
  float: left;
}

.inicio-tienda-body{
  grid-template-columns: repeat(4,1fr);
  display: grid;
}

.inicio-tienda-body .titulo-producto-info{
  text-align: center;
  font-size: 30px;
  grid-column: 1/5;
}
.titulo-producto-info p{
  font-size: 14px;
}
.contenedor-productos{
  grid-column: 1/5;
  width: 100%;
}


.container-footer .logo{
  justify-content: center;
}
.container-footer .sobre-nosotros{
 
  text-align: center;
  margin-right: 10px;
}
.container-footer .sobre-nosotros h2{
  text-align: center;
  font-size: 25px;
}
.sobre-nosotros p{
  font-size: 18px;
  font-weight: 500;
}
.redes h2{
  font-size: 26px;
}

.redes ul{
  justify-content: center;
}

.container-copy{
  font-size: 16px;
}
}
